<!DOCTYPE HTML>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Libri</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <div class="content">
            <h1>Libri</h1>
            <p>Qui puoi gestire i tuoi libri.</p>
        </div>
        <div class="container">
            <nav class="sidebar">
                <ul>
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/books}">Books</a></li>
                </ul>
            </nav>
        </div>
    </body>

</html>